%h1 Úkoly
#tasks
  - @tasks.each do |task|
    = render task
    %p
      = link_to "Prohlédnout úkol", task, class:"btn btn-outline-info"
%br
= page_entries_info @tasks
= paginate @tasks, window: 2 
%br
= link_to "Nový úkol", new_task_path, class:"btn btn-outline-info"
