.container
  %nav.navbar.navbar-expand-lg.bg-light
    .container-fluid
      = link_to image_tag("https://freeiconshop.com/wp-content/uploads/edd/task-done-flat.png", :border => 0, width: 50, height: 50, :alt => '', :title => ''), root_path, :class => 'dock-item'
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarSupportedContent", "data-bs-toggle" => "collapse", type: "button"}
        %span.navbar-toggler-icon
      .navbar-collapse.collapse.w-100.order-3.dual-collapse2
        %ul.navbar-nav.me-auto.mb-2.mb-lg-0
          %li.nav-item
            = link_to "Domů", root_path, class:"nav-link"
          %li.nav-item
            = link_to "O programu", home_about_path, class:"nav-link"
          - if user_signed_in?
            %li.nav-item
              = link_to "Projekty", projekts_path, class:"nav-link"
            %li.nav-item
              = link_to "Úkoly", tasks_path, class:"nav-link"
            %li.nav-item
              = link_to "Uživatelé", users_path, class:"nav-link"
      .navbar-collapse.collapse.w-100.order-3.dual-collapse2
        %ul.navbar-nav.ml-auto
          - if user_signed_in?
            %li.nav-item
              = link_to "Editovat profil", edit_user_registration_path , class:"nav-link"
            %li.nav-item
              = button_to "Odhlásit se", destroy_user_session_path, method: :delete, class:"nav-link"
          - else
            %li.nav-item
              = link_to "Přihlásit se", new_user_session_path , class:"nav-link"
